div ng-controller="TopicsCtrl as topicsCtrl" class="animated fadeIn lanes"

  div[
    class="to-talk-about lane"
    ng-controller="LaneCtrl as laneCtrl"
    ng-model="service.to_talk_about"
    data-drop="true"
    data-jqyoui-droppable="{multiple:true, onOver: 'onOver', onOut: 'onOut', onDrop: 'onDrop'}"
    ]
    h1 To talk about

    i class="sort fa fa-sort-amount-desc" ng-click="service.sort()"

    form ng-submit="topicsCtrl.create()"
      input ng-model="topicsCtrl.title" class="new-topic" type="text"

    ul class="topics"
      li[
        ng-controller="TopicCtrl as topicCtrl"
        ng-repeat="topic in service.to_talk_about"
        ng-click="topicCtrl.vote()"
        data-drag="true"
        data-jqyoui-options="{revert: 'invalid'}"
        ng-model="service.to_talk_about"
        data-jqyoui-draggable="{index: {{$index}}, animate: true, onStart: 'onStart', onStop: 'onStop'}"
        class="topic"
        ]
        p ng-bind="topic.title"
        ul class="votes"
          li class="vote" ng-repeat="vote in topicsCtrl.times(topic.votes) track by $index"

  div[
    class="talking-about lane"
    ng-controller="LaneCtrl as laneCtrl"
    ng-model="service.talking_about"
    data-drop="true"
    data-jqyoui-droppable="{multiple:true, onOver: 'onOver', onOut: 'onOut', onDrop: 'onDrop'}"
    ]
    h1 Talking about

    ul class="topics"
      li[
        ng-controller="TopicCtrl as topicCtrl"
        ng-repeat="topic in service.talking_about"
        ng-click="topicCtrl.vote()"
        data-drag="true"
        data-jqyoui-options="{revert: 'invalid'}"
        ng-model="service.talking_about"
        data-jqyoui-draggable="{index: {{$index}}, animate: true, onStart: 'onStart', onStop: 'onStop'}"
        class="topic"
        ]
        p ng-bind="topic.title"

  div[
    class="talked-about lane"
    ng-controller="LaneCtrl as laneCtrl"
    ng-model="service.talked_about"
    data-drop="true"
    data-jqyoui-droppable="{multiple:true, onOver: 'onOver', onOut: 'onOut', onDrop: 'onDrop'}"
    ]
    h1 Talked about

    ul class="topics"
      li[
        ng-controller="TopicCtrl as topicCtrl"
        ng-repeat="topic in service.talked_about"
        ng-click="topicCtrl.vote()"
        data-drag="true"
        data-jqyoui-options="{revert: 'invalid'}"
        ng-model="service.talked_about"
        data-jqyoui-draggable="{index: {{$index}}, animate: true, onStart: 'onStart', onStop: 'onStop'}"
        class="topic"
        ]
        p ng-bind="topic.title"
