$primary-color: rgba(245, 125, 45, 0.9)
$light-color: #fff
$dark-color: #283130

.hero
  background-color: #373a3c
  background-repeat: no-repeat
  background-size: cover
  background-position: right bottom
  overflow: hidden
  @media(min-width: 720px)
    height: 80vh
    background-attachment: fixed
  &.header
    background-image: image-url('header-coffee-large.jpeg')

  h1
    font-size: 7rem
    line-height: 4.5rem
    margin: 0 0 1rem
    letter-spacing: -14px
    @media(min-width: 720px)
      padding-top: 1vh
      font-size: 30vh
      line-height: 19vh
      margin: 0 0 7vh
      letter-spacing: -24px

  p
    font-size: 2rem
    margin: 0 0 1rem
    text-shadow: 0 0 5px $dark-color
    @media(min-width: 720px)
      font-size: 6vh
      width: 75%
      float: left
      margin: 0

  footer
    @media(min-width: 720px)
      width: 25%
      float: right

.container
  margin: 0 auto
  padding: 0 15px
  width: 90%
  max-width: 800px

.bg-dark, .bg-light
  font-size: 1.5rem
  padding: 3rem 0

.bg-dark
  background-color: $dark-color
  color: $primary-color

.bg-light
  background-color: $primary-color
  color: $light-color

ul.grid
  list-style-type: none
  padding: 0
  margin: 0 -2% 0 0
  +clearfix
  > li
    display: block
    background-color: $light-color
    width: 32%
    margin-right: 1%
    float: left
    font-size: 1rem
    position: relative
    a
      color: $dark-color
      text-decoration: none
    > a
      display: block
      padding: 0.5rem
      &:hover, &:focus
        box-shadow: 2px 7px 40px rgba(0,0,0,0.2)
      &:active
        box-shadow: 2px 7px 40px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.2) inset

      .grid-box-icon
        float: left
        margin: -0.5rem
        margin-right: 0.3rem
      h3, p
        margin: 0
      h3.no-description
        line-height: 3em

    .hover-options
      position: absolute
      top: 2px
      right: -1px
      display: none
      a:hover
        color: $primary-color
    &:hover, &:focus
      .hover-options
        display: block


