// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lanes
  margin: 10vh

.lane
  border: 2px solid #eee
  padding: 1em
  float: left
  margin: 0 1.5%
  width: 30%
  background: #fff
  min-height: 80vh

  h1
    text-align: center

  .topics
    margin: 0
    padding: 0
    list-style: none
    
    .topic
      background: rgba(245,125,45,0.9)
      color: #fff
      padding: 0.5em
      margin-bottom: 0.5em
