// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins/responsive"

.lanes
  margin: 5vh

.lane
  border: 2px dotted rgba(255, 255, 255, 0.2)
  padding: 1em
  float: left
  margin: 0 1.5%
  width: 30%
  min-height: 90vh

  +respond-to($portrait)
    width: 100%
    margin: 1.5% 0
    min-height: 0

  h1
    text-align: center

  .new-topic
    font-size: 1.5em
    padding: 0.75em
    margin-bottom: 0.75em
    font-family: "gooddog-new"
    text-align: center
    min-height: 5em
    width: 100%
    border-radius: 0
    background: transparent
    border: 2px dotted rgba(255, 255, 255, 0.2)
    color: #fff
    +appearance(none)
    +placeholder
      color: rgba(255, 255, 255, 0.25)

    &:focus
      outline: none

  .topics
    margin: 0
    padding: 0
    list-style: none
    
    .topic
      position: relative
      background: rgba(255, 255, 255, 1)
      color: rgba(245, 125, 45, 0.9)
      font-size: 1.5em
      padding: 0.75em
      margin-bottom: 0.75em
      font-family: "gooddog-new"
      text-align: center
      min-height: 4em

      p
        display: flex
        justify-content: center
        flex-direction: column
